<div id="myslider">
<img class="clickable" id="myslider_bg" src="http://images1.noterik.com/html5/gray_bar.png"/>
<img class="clickable" id="mysliderpos" src="http://images1.noterik.com/html5/darkgray_bar.png"/>
<img class="clickable" id="mysliderpos2" src="http://images1.noterik.com/html5/darkgray_bar.png"/>
</div>
<br />
<img class="clickable" id="pause" src="http://images1.noterik.com/html5/pause.png"/>
<img class="clickable" id="play" src="http://images1.noterik.com/html5/play.png"/>
<img class="clickable" id="mute" src="http://images1.noterik.com/html5/mute.png"/>
<img class="clickable" id="volup" src="http://images1.noterik.com/html5/volumeup.png"/>
<img class="clickable" id="voldown" src="http://images1.noterik.com/html5/volumedown.png"/>
<img class="clickable" id="avro" src="http://images1.noterik.com/domain/linkedtv/user/avro/video/5/shots/1/h/0/m/0/sec10"/>
<img class="clickable" id="rbb" src="http://images1.noterik.com/domain/linkedtv/user/rbb/video/59/shots/1/h/0/m/0/sec10"/>
<img class="clickable" id="t1" src="http://www.filmpjekijken.com/Content/upload/PrometheusBoth.jpg"/>
<img class="clickable" id="t2" src="http://images1.noterik.com/domain/springfieldwebtv/user/admin/video/6/shots/1/h/0/m/0/sec28.jpg"/>
<img class="clickable" id="qrcode "src="http://images1.noterik.com/html5/qrcodetoggle.png"/>
<br />
<img class="clickable" id="s-2" src="http://images1.noterik.com/html5/speedm2.png"/>
<img class="clickable" id="s-1" src="http://images1.noterik.com/html5/speedm1.png"/>
<img class="clickable" id="s" src="http://images1.noterik.com/html5/speedp1.png"/>
<img class="clickable" id="s+2" src="http://images1.noterik.com/html5/speedp2.png"/>
<img class="clickable" id="s+3" src="http://images1.noterik.com/html5/speedp3.png"/>
<img class="clickable" id="s-02" src="http://images1.noterik.com/html5/speedm02.png"/>
<img class="clickable" id="s-05" src="http://images1.noterik.com/html5/speedm05.png"/>
<img class="clickable" id="s+05" src="http://images1.noterik.com/html5/speedp05.png"/>
<img class="clickable" id="s+02" src="http://images1.noterik.com/html5/speedp02.png"/>
<div id="experimental">
	<br/>
	<button class="clickable" id="style1">css1</button>
	<button class="clickable" id="style2">css2</button>
	<button class="clickable" id="style3">css3</button>
	<button class="clickable" id="stylespec">add css</button>
	<button class="clickable" id="removespec">remove css</button>
	<input id="data"/>
	<button class="clickable" id="subscribe">subscribe</button>
	<button class="clickable" id="signal">signal</button>
	<p id="test"/>
</div>
